<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".TokliUserApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Tokli User"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.TokliUserApp">
        <activity android:name=".ui.orders.OrderHistoryActivity" />
        <activity android:name=".ui.cart.CartActivity" />
        <activity android:name=".ui.product.ProductDetailsActivity" />
        <activity android:name=".ui.home.HomeActivity" />
        <activity android:name=".ui.auth.RegisterActivity" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
